@using EsdElektronik.Models.Entity
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <h4>Dashboard</h4>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <div class="card bg-primary text-white h-100">
            <div class="card-body py-5">Ürün Listesi</div>
            <div class="card-footer d-flex">
                Git
                <span class="ms-auto">
                    <a href="#" class="text-white"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-warning text-white h-100">
            <div class="card-body py-5">Ürün Ekle</div>
            <div class="card-footer d-flex">
                Git
                <span class="ms-auto">
                    <a href="#" class="text-white"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-success text-white h-100">
            <div class="card-body py-5">Kategori Listesi</div>
            <div class="card-footer d-flex">
                Git
                <span class="ms-auto">
                    <a href="#" class="text-white"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-danger text-white h-100">
            <div class="card-body py-5">Kategori Ekle</div>
            <div class="card-footer d-flex">
                Git
                <span class="ms-auto">
                    <a href="#" class="text-white"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Area Chart Example
            </div>
            <div class="card-body">
               
    <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>

