@model EsdElektronik.Models.Entity.tbl_stok
@{
    ViewBag.Title = "Stokguncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h4>STOK GUNCELLE</h4>
</div>
<div class="row col-lg-5">
    <form method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.UrunId, new { @class = "form-control", @required = "required", @readonly = "readonly" })
            @*<input type="text" class="form-control" placeholder="" name="urunad" aria-describedby="button-addon2" required>*@
        </div>
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.StokSayi, new { @class = "form-control", @required = "required" })
            @*<input type="number" class="form-control" placeholder="Ürün Fiyatı" name="UrunFiyat" aria-describedby="button-addon2" required>*@
        </div>
        <div class="input-group mb-3 w-25">
            <button class="btn btn-success">Güncelle</button>
        </div>
    </form>
</div>